@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@foreach (var store in @ViewBag.storeList)
{
    <address>
        <strong>@store.name</strong>
        <br />  
        @store.address    
        <br />
        <label>Phone Number: </label>@store.telephone
        <br />
        <strong>Contact store</strong>   <a href="mailto:store@mikes.com">@store.name@@mikes.com</a><br />
       
    </address>

    
}
