
@{
    ViewBag.Title = "StoreInventory";
}

<h2>@ViewBag.store</h2>
<table border="1" width="80%" >
    <tr>
        <th>Serial No</th>
        <th>Frame Size</th>
        <th>Bike Type</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Description</th>
        <th>Cost(USD)</th>        
      
    </tr>
    <tbody>
        @foreach (var inv in @ViewBag.invList)
        {
            <tr>
                <td>@inv.Id</td>
                <td>@inv.frameSize</td>
                <td>@inv.bikeType</td>
                <td>@inv.brand</td>
                <td>@inv.model</td>
                <td>@inv.description</td>
                <td>@inv.cost</td>
                
            </tr>
        }
    </tbody>
</table>

